{% extends 'lingfield/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="wrapper">
    <main data-barba="container" data-barba-namespace='home'>

       <div class="container">
           
            <div class="row index-page-text" style="display: flex;justify-content: center;align-items: center;margin-top: 40px;">
                <div  >
                    <!-- <h4>We are</h4> -->
                    <br>
                    <h1 class="home-page-header text-lg-left text-sm-center" style="width: 100%;font-family: IM Fell DW Pica SC;line-height: 90%;color: #116466;">
                        Lingfield <br> <b>Pharmacy</b>
                    </h1>  
                    <p class="mt-4" style="color: #182628">We are an independent NHS Community Pharmacy serving the <br> people of Darlington.</p>
                    <div class="animate-this pres-button mt-4">
                        {% if user.is_authenticated %}
                            <a href="{% url 'accounts:dashboard' %}">place order</a>
                        {% else %}
                            <a href="{% url 'lingfield:prescriptions' %}">place order</a>
                        {% endif %}
                    </div>
                    
                </div>
                <!-- <img class="index-page-img" src="{% static 'images//pharmacy/Pharmacist/3725269.jpg' %}" height="450px" style="object-fit: cover;"> -->

                    <!-- <img class="index-page-img" src="{% static 'images//pharmacy/Pharmacist/3725269.jpg' %}" height="450px" style="object-fit: cover;"> -->

                
            </div>
















            <!-- <div class="home-page-images" >
                <h1 class="welcome  home-page-header" style="position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%);width: 100%;font-family: IM Fell DW Pica SC;">
                    Welcome to <br>
                    <span style="text-decoration: none;">
                        <a href="{% url 'lingfield:leaflets' %}" style="text-decoration: underline;color: #182628;" data-toggle="tooltip" data-placement="top" title="leaflets">L</a><a href="{% url 'lingfield:home' %}" style="text-decoration: underline;color: #212529;;" title="home">i</a>ngfiel{% if user.is_authenticated %}<a href="{% url 'accounts:dashboard'%}" style="text-decoration: underline;color: #212529;" title="dashboard">d</a>{% else %}<a href="#" style="text-decoration: underline;color: #212529;">d</a>{% endif %}
                        <a href="{% url 'lingfield:prescriptions' %}" style="text-decoration: underline;color: #212529;;" title="prescriptions">P</a><a href="{% url 'health_advice:health-advice-category-list' %}" style="text-decoration: underline;color: #212529;;" title="health-advice">h</a><a href="{% url 'lingfield:about' %}" style="text-decoration: underline;color: #212529;;" title="about">a</a>{% if user.is_authenticated %}<a href="#" style="text-decoration: underline;color: #212529;;">r</a>{% else %}<a href="{% url 'accounts:register' %}" style="text-decoration: underline;color: #212529;;">r</a>{% endif %}<a href="{% url 'medicines:medicine-category-list'%}" style="text-decoration: underline;color: #212529;;" title="medicine">m</a>a<a href="{% url 'lingfield:contact' %}" style="text-decoration: underline;color: #212529;;" title="contact">c</a>y 
                    </span>
                </h1>  
            </div>   -->
            <!-- <img src="{% static 'images\_____simplelife.m-___CEoV9j-A-Rr___-.jpg' %}" width="60%" height="500px" style="object-fit: cover; position: absolute; border-radius:70% 30% 30% 70% / 60% 40% 60% 40%;"> -->

                        
        </div>
    </main>
</div>

<script type="text/javascript">
   
</script>
{% endblock content %}