{% extends 'lingfield/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<div class="wrapper">
    <main data-barba="container" data-barba-namespace='prescriptions'>
        <div class="container">
            <h1 class="text-center each-page-header" style="font-family: IM Fell DW Pica SC;">DASHBOARD</h1>
           
        </div>
       
        <!-- <div class="container"> -->
            <!-- Block level -->
          <!-- <div class="row"> 
                <div class="col-2 text-truncate">
                Praeterea iter est quasdam res quas ex communi.
                </div>
            </div>

            <span class="d-inline-block text-truncate" style="max-width: 150px;">
                Praeterea iter est quasdam res quas ex communi.
              </span>
        </div>  -->

        <div class="container">
           <div class="col-lg-6 offset-lg-3">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="background-color: transparent;">&times;</button>
                    {{ message | safe }}
                </div>
                {% endfor %}
           </div>
        </div>

        <div class="container">
            <div class="container testimonial-group" >
                <div class="row" style="padding:0 1rem 1rem 1rem;scrollbar-width: none;">
                    <div class=" col-xs-4 mr-4  mt-3 dashboard-sub-header" onclick="togglediv('MyInfo')"  style="background: url('/static/images/pharmacy/medicine/adam-niescioruk-hWzrJsS8gwI-unsplash.jpg') no-repeat;background-size: cover;display: flex;justify-content: start;align-items: center;width: 100%;height: 150px;cursor: pointer;box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);border-radius: 5px 20px 5px 12px;padding: 1rem;">
                        <h5 class="text-center"  style="vertical-align: middle;"><a><b>MY INFO</b></a></h5>
                    </div>
                    <div class="  col-xs-4 mr-4 mt-3  dashboard-sub-header" onclick="togglediv('Order')"  style="background: url('/static/images/pharmacy/medicine/christina-victoria-craft-ZHys6xN7sUE-unsplash.jpg') no-repeat;background-size: cover;display: flex;justify-content: start;align-items: center;width: 100%;height: 150px;cursor: pointer;box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);border-radius: 5px 20px 5px 12px;padding: 1rem;">
                        <h5 class="text-center"><a><b>ORDER</b></a></h5>
                    </div>
                    <div class="col-xs-4 mr-4 mt-3  dashboard-sub-header" onclick="togglediv('MyOrders')"  style="background: url('/static/images/pharmacy/medicine/halacious-_jbClosDsD4-unsplash.jpg') no-repeat;background-size: cover;display: flex;justify-content: start;align-items: center;width: 100%;height: 150px;cursor: pointer;box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);border-radius: 5px 20px 5px 12px;padding: 1rem;">
                        <h5 class="text-center"><a><b>MY ORDERS</b></a></h5> 
                    </div>
                    <div class="col-xs-4 mt-3  dashboard-sub-header"  style="background-image: linear-gradient(to bottom, rgb(93, 211, 187) , rgb(35, 202, 202));box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);border-radius: 5px 20px 5px 12px;width: 100%;height: 150px;padding: 1rem;cursor: pointer;"> <!--rgb(189, 234, 245) , rgb(32, 192, 192))-->
                        <h5 class="text-center">ACCOUNT INFORMATION<br><span style="font-size: 15px;">Change between your account and your dependents</span></h5> 
                        <h6 class="text-center"><b>{{ user.username }}</b><h6>
                        <div class="text-center" onclick="togglediv('AddDependent')">
                            <button class="btn btn-info" >ADD DEPENDENT</button>
                        </div>  
                    </div>
                </div>
            </div>
          

            <div id="MyInfo" class="TableBody  mt-4" style="display:none">
                <h3>INFO</h3>
                <form enctype="multipart/form-data" method="POST" id="formOne">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="formOne">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            {{ u_form.username|as_crispy_field }}
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12" >
                            {{ u_form.email|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            {{ u_form.first_name|as_crispy_field }}
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            {{ u_form.last_name|as_crispy_field }}
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            {{ b_form.birth_date|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            {{ p_form.gender|as_crispy_field }}
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12">
                            {{ p_form.telephone_no|as_crispy_field }}
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12">
                            {{ p_form.mobile_no|as_crispy_field }}
                        </div>
                        <div class="col-lg-2 col-md-12 col-sm-12">
                            {{ p_form.nhs_no|as_crispy_field }}
                        </div>
                    </div>
                    <div>
                        {{ p_form.classed_as_vulnerable|as_crispy_field}}
                    </div>
                    <div class="mt-n2">
                        {{ p_form.housebound|as_crispy_field}}
                    </div>
                    <div class="mt-n2">
                        {{ p_form.like_to_receive_email|as_crispy_field}}
                        <small class="text-muted">* We will occasionally send you email updates with information from the pharmacy including changes to opening hours, changes to services, alerts for seasonal services (such as nhs flu vaccinations) public health warnings and pharmacy offers.
                            Change Your Password</small>
                    </div>


                    <h3 class="mt-2">ADDRESS</h3>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            {{ p_form.country|as_crispy_field }}
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12">
                            {{ p_form.uk_postcode_lookup|as_crispy_field }}
                        </div>
                        <div class="col-lg-2 col-md-12 col-sm-12">
                            {{ p_form.house_number|as_crispy_field }}
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12">
                            {{ p_form.postcode|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            {{ p_form.street|as_crispy_field }}
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            {{ p_form.town|as_crispy_field }}
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            {{ p_form.county|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row float-right mt-3">
                        <button class="btn btn-outline-info" type="submit" name="info">SAVE</button>
                    </div>

                </form>           
            </div>
            
            <div id="Order" class="TableBody  mt-4" >
                <h3 class=" text-center"><strong>ORDER</strong></h3>
                <br>
                
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12t">
                            <p><i>Click 'New Prescription' to setup the items you order on your prescription</i></p>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 text-lg-left text-sm-center" >
                            <button class="btn btn-info mt-3"><a href="{% url 'accounts:new_prescription' %}" style="text-decoration: none;color: #F2F2F2;">NEW PRESCRIPTION</a></button>
                            <!-- <button class="btn btn-info mt-3" onclick="ShowPrescriptionTable()" >NEW PRESCRIPTION</button> -->
                        </div>
                    </div>
                    <br>
                   
                    <div id="PrescriptionTable" class=" PresciptionBody" style="margin-bottom: 50px;">
                        <!-- <div id="PrescriptionTable" class=" PresciptionBody" style="display:none;margin-bottom: 50px;"> -->
                        <p class="text-muted ">You are creating a new prescription...</p>
                        
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12"> 
                                <h5><strong>1 ) SELECT YOUR SURGERY</strong></h5>                       
                                <div class="row" style="display: flex;justify-content: start;align-items: flex-start;">
                                    <div class="col-1">
                                        <h1><b>+</b></h1>
                                    </div>
                                    <div class="col-10 ">
                                        <!-- LINK TRIGGER FOR MODAL FOR SELECTING A SURGERY -->
                                        <a href="#" class="text-left" data-toggle="modal" data-target=".bd-example-modal-lg"><i><u>Select Your Surgery</u></i></a>
                                        
                                        <!-- MODAL FOR SELECTING A SURGERY -->
                                        <div class="modal fade bd-example-modal-lg" id="hospitalList" tabindex="-1" role="dialog" aria-labelledby="hospitalListTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="hospitalListTitle"><b>SELECT A SURGERY</b></h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                
                                                <div class="modal-body">
                                                    <!-- LINK FOR MODAL FOR SELECTING A SURGERY -->
                                                    <div style="background-color: whitesmoke;padding: 10px 0px 1px 2px;border-radius: 10px;">
                                                        <p><i class="fas fa-question-circle ml-3 mr-3"></i><a href="#" style="color: black;" data-toggle="modal" data-target="#addSurgery" data-dismiss="modal"><em>Can't find surgery. Click Here !!!</em></a></p>
                                                    </div>
    
                                                    <div style="margin-top: 30px;">
                                                        {% for h in hospital_list %}
                                                            <a href="{{ h.get_absolute_url }}" style="color: black;text-decoration: none;">
                                                                <a href="{{ h.get_surgery_url }}" style="color: black;text-decoration: none;">    
                                                                    <p ><b>{{ h.clinic_name }}</b><br>{{ h.hospital }} {{ h.hospital_street }}, {{ h.district }}, {{ h.city }}, {{ h.postal_code }}</p>
                                                                    <hr>
                                                                </a>
                                                            </a>   
                                                        {% empty %}
                                                            <p>No Clinics Available.</p>
                                                        {% endfor %}
                                                            
                                                        <div>
                                                            <h5><b>SAVED SURGERY</b></h5>
                                                        </div>
                                                        <hr class="featurette-divider w-100">
                                                        <div>
                                                            {% for s in saved_surgery %}
                                                                <a  href="#" style="color: black;text-decoration: none;">
                                                                    <p> {{ s.surgery_name }}</p>
                                                                    <hr>
                                                                </a>
                                                            {% empty %}
                                                                <p>No Saved Surgeries.</p>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        <!-- END OF MODAL FOR SELECTING A SURGERY -->
    
                                        <!-- MODAL  FOR  ADDING SURGERY-->
                                        <div class="modal fade" id="addSurgery" tabindex="-1" role="dialog" aria-labelledby="addSurgeryLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="addSurgeryLabel">ADD SURGERY</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form enctype="multipart/form-data" method="POST" id="formTwo">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="form_type" value="formTwo">
                                                            {{ surgery_form.surgery_name|as_crispy_field }}
                                                            {{ surgery_form.country|as_crispy_field }}
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    {{ surgery_form.uk_postcode_lookup|as_crispy_field }}
                                                                </div>
                                                                <div class="col-6">
                                                                    {{ surgery_form.house_number|as_crispy_field }}
                                                                </div>
                                                            </div>
                                                            {{ surgery_form.address|as_crispy_field }}
                                                            <button class="btn btn-primary" type="submit" name="addsurgery">SAVE</button>
                                                    </form>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        <!-- END OF MODAL  FOR  ADDING SURGERY-->
    
                                        <div >
                                            {% for h in surgery %}
                                            <h5><strong>{{ h.clinic_name }}</strong></h5>
                                            <p>{{ h.hospital }},<br>{{ h.hospital_street }},<br>{{ h.city }},<br>{{ h.postal_code }}</p>    
                                            {% endfor %}
    
                                            {% for surgery in object.items.all %}
                                                {{ surgery.hospital.city }}
                                            {% endfor %}
    
                                            {% for surgery in object.prescription.all %}
                                                {{ surgery.prescription.city }}
                                            {% endfor %}

                                            {% for surgery in surgeriess %}
                                               <a href="{{ surgery.id }}"> {{ surgery.city }}</a>
                                            {% endfor %}

                                            {% for s in surgery %}
                                              <a href="{{ s.get_surgery_url }}">{{ s.clinic_name }}</a>
                                            {% endfor %}

                                            {% for s in surgery %}
                                              <a href="{{ s.get_surgery_url }}">{{ s.hospitallist.clinic_name }}</a>
                                            {% endfor %}
                                            
                                            {{surgery.hospital.clinic_name }}
                                            {{object.clinic_name }}

                                            {{ get_surgery }}
                                            
                                           {{ surgery.hospital_list.clinic_name }}

                                           {{ object.get_surgery }}

                                           {{ surgery.get_surgery }}

                                           {{ surgery.clinic_name }}

                                           {{ hospital.surgery }}
                                        </div>      
                                        <a href="#"><i>Print Surgery Nomination Form</i></a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-lg-6 col-md-12 col-sm-12 mt-lg-n1 mt-sm-4">
                                <h5><strong>2 ) SETUP PRESCRIPTION ITEMS</strong></h5>                       
                                <div class="row">
                                    <br>
                                    <div class="col-lg-8 col-md-12 col-sm-12">
                                        <p><i>You can add orders to you order by clicking the 'add' button. Adding items not approved by your surgery may cause delays to processing your prescription</i></p>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12" >
                                        <!-- LINK TRIGGER FOR MODAL FOR SELECTING A SURGERY -->
                                        <a href="#" data-toggle="modal" data-target=".meds"><button class="btn btn-info mt-3" >ADD AN ITEM</button></a>
                                    
                                    <!-- MODAL FOR SELECTING MEDICINE -->
                                    <div class="modal fade meds" id="medicineList" tabindex="-1" role="dialog" aria-labelledby="medicineListTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="medicineListTitle"><b>SELECT AN ITEM</b></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            
                                            <div class="modal-body">
                                                <!-- LINK FOR MODAL FOR SELECTING A SURGERY -->
                                                <!-- <div style="background-color: whitesmoke;padding: 10px 0px 1px 2px;border-radius: 10px;">
                                                    <p><i class="fas fa-question-circle ml-3 mr-3"></i><a href="#" style="color: black;" data-toggle="modal" data-target="#addSurgery" data-dismiss="modal"><em>Can't find surgery. Click Here !!!</em></a></p>
                                                </div> -->
    
                                                <div style="margin-top: 30px;">
                                                    {% for medicine in medicines %}
                                                        <a href="{{ medicine.get_absolute_url }}" style="color: black;text-decoration: none;">
                                                            <a href="{{ medicine.get_medicine_url }}">
                                                                <p data-toggle="modal" data-target="#selectPrescriptionItem" data-dismiss="modal"><b>{{ medicine.title }}</b></p>
                                                                <hr>
                                                            </a>
                                                        </a>
                                                    {% empty %}
                                                        <p>No Medicines Available.</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <!-- END OF MODAL FOR SELECTING A SURGERY -->
    
                                    <!-- MODAL  FOR  ADDING SURGERY-->
                                    <div class="modal fade" id="selectPrescriptionItem" tabindex="-1" role="dialog" aria-labelledby="selectPrescriptionItemLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="addSurgeryLabel">SETUP PRESCRIPTION ITEM</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                                <form enctype="multipart/form-data" method="POST" id="formTwo">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="form_type" value="formTwo">
                                                        
                                                        <button class="btn btn-primary" type="submit" name="addsurgery">SAVE</button>
                                                </form>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <!-- END OF MODAL  FOR  ADDING SURGERY-->
                                    </div>
                                </div>
                            </div>
                       </div>
    
                       <div class="row float-right " style="margin-top: 30px;">
                            <button class="btn btn-outline-info order-sm-first order-lg-last mr-sm-3" type="submit" >SAVE</button>
                            <button class="btn btn-outline-info mr-3" type="submit">SAVE AND ORDER</button>
                            <button class="btn btn-outline-info order-lg-first order-sm-last mr-lg-3" type="submit" >CANCEL</button>
                        </div>
                    </div>
                
            </div>


            <div id="MyOrders" class="TableBody  text-center mt-4" style="display:none">
                <h3><strong>MY ORDERS</strong></h3>
                {% for prescription in prescription.items.all %}
                    {{ prescription.hospital.clinic_name }}
                    {{ prescription.prescription_quantity }}
                    {{ prescription.item.title }}
                    {{ prescription.item.medicine }}
                    {{ prescription.prescription_quanitity }}
                {% empty %}
                    <div class="text-center"><b>You do not have any current prescription order</b></div>
                {% endfor %}
                
                {% for prescription_item in object.items.all %}
                    {{ prescription_item.hospital.clinic_name }}
                {% empty %}
                <div class="text-center"><b>You do not have any current prescription order</b></div>
                {% endfor %}

                {% for prescription_item in object.items.all %}
                    {{ prescription_item.medicine.title }}
                    {{ prescription_item.item.medicine }}
                    {{ prescription_item.prescription_quantity }}
                    <a href="{% url 'accounts:new_prescription' prescription_item.medicine.slug %}"><i class="fas fa-minus mr-lg-n2" style="color: teal;"></i></a>

                {% empty %}
                    <div class="text-center"><b>You do not have any current prescription order</b></div>
                {% endfor %}



                {% for prescription in prescription_item.items.all %}
                    {{ prescription.prescription_item.title }}
                    {{ prescription.prescription_quantity }}
                    {% empty %}
                    <div class="text-center"><b>You do not have any current prescription order</b></div>
                {% endfor %}

                
            </div>

            <div id="AddDependent" class="TableBody  mt-4" style="display:none">
                <h3 class="text-center"><strong>ACCOUNT INFORMATION</strong></h3>
                <h5 class="text-center"><strong>{{ user.first_name }} {{ user.last_name }}</strong><h5>
                
                
                <hr class="featurette-divider">
                <form class="mt-lg-4 mt-sm-2" enctype="multipart/form-data" method="POST" id="formThree"  style="margin-bottom: 100px;">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="formThree">
                    <div>
                        {{ dependent_form.relation|as_crispy_field}}
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            {{ dependent_form.first_name|as_crispy_field}}
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            {{ dependent_form.middle_names|as_crispy_field}}
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            {{ dependent_form.last_name|as_crispy_field}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            {{ dependent_form.birth_date|as_crispy_field}}
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <!-- <label for="gender">Gender</label>
                            <select id="gender" class="form-control">
                                <option>Female</option>
                                <option>Male</option>
                                <option selected>Not Set</option>
                                <option>Other</option>
                            </select> -->
                            {{ dependent_form.gender|as_crispy_field}}
                        </div>
                    </div>
                    <div>
                        {{ dependent_form.vulnerable_patient|as_crispy_field}}
                    </div>
                    <div>
                        {{ dependent_form.housebound_patient|as_crispy_field}}
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            {{ dependent_form.landline_telephone_no|as_crispy_field}}
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            {{ dependent_form.mobile_no|as_crispy_field}}
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            {{ dependent_form.nhs_no|as_crispy_field}}
                        </div>
                    </div>
                    <div >
                        {{ dependent_form.notes|as_crispy_field}}
                    </div>

                    <h3 class="mt-2">ADDRESS</h3>
                    <div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12"> 
                                {{ dependent_form.country|as_crispy_field }}
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12"> 
                                {{ dependent_form.street|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-12 col-sm-12"> 
                                {{ dependent_form.town|as_crispy_field }}
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12"> 
                                {{ dependent_form.county|as_crispy_field }}
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12"> 
                                {{ dependent_form.postcode|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    <div class="row float-right mt-3">
                        <button class="btn btn-outline-info mr-4" type="submit" >CANCEL</button>
                        <button class="btn btn-outline-info " type="submit" name="dependent">SAVE</button>
                    </div>
                </form>


                
            </div>

            <div id="SchoolTable" class="TableBody  text-center mt-4" style="display:none">School </div>
        </div>      
    </main>
    <br>
    <br>
    <br>
</div>

<p class="text-right fixed-bottom"><a href="#" style="border: 10px solid #182628;background-color: #182628;color: white;"><strong><i class="fas fa-arrow-up"></i></strong></a></p>



<script type="text/javascript">
    function togglediv(id) {
        document.querySelectorAll(".TableBody").forEach(function(div) {
            if (div.id == id) {
            // Toggle specified DIV
            div.style.display = div.style.display == "none" ? "block" : "none";
            } else {
            // Hide other DIVs
            div.style.display = "none";
            }
        });
        }

    function ShowPrescriptionTable() {
        var x = document.getElementById("PrescriptionTable");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        }

</script>
{% endblock content %}

